.usability-box{
  border: solid 1px #660099;
  padding: .6875rem 1rem;
  display: flex;
  gap: 1.5rem;
  width: fit-content;
  align-items: center;
}

.usability-box p {
  font-size: 1.5rem;
  line-height: 1.9387rem;
  color: #660099;
}  
.usability-box img {
  width: 3rem;
  height: 3rem;
}
